
.fillform{
    margin-top: 130px;
}
#rightbox{
    width: 510px;
}
#sub{
    width: 490px;
}
.ldivider{
    width: 210px;
}
.divideror{
    margin-left: 229px;
    margin-top: -30px;
}
.rdivider{
    width: 210px;
    margin-left: 273px;
    margin-top: -25px;
}
.google{
    list-style-type:none;
    padding-left: 10px;
    width: 550px;
    margin-left: -10px;
}
.google li{
    display: inline;
    
}
.google a{
    padding: 10px 15px;
}
.homebutton{
    border: 1px black solid;
    border-radius: 5px;
    position:absolute;
    top: 10px;
    right: 20px;
}
